<div class="playlist-container">
  <c-container>
    <c-row>
      <c-col class="custom-width">
    <input type="text" [(ngModel)]="playlistName" placeholder="Playlist Name">
    <button (click)="savePlaylist()">Save Playlist</button>
    
    <div class="playlist">

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

          <div *ngFor="let track of getPlaylist().tracks; let i = index" class="example-box" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <button mat-icon-button (click)="playSingleTrack(track)" aria-label="Play">
              <mat-icon>play_arrow</mat-icon>
            </button>
            {{ track.full_name }}
            <button mat-icon-button (click)="removeFromPlaylist(i)" aria-label="Remove from playlist">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
      </div>
    </div>
  </c-col>
  <c-col class="release-info">
    
    <ul cListGroup>
      <li cListGroupItem *ngFor="let playlist of getPlaylists(); let i = index">
        <button mat-icon-button (click)="editPlaylist(playlist)" aria-label="Edit Playlist">
          <mat-icon>edit_circle_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="playPlaylist(playlist)" aria-label="Play">
          <mat-icon>play_arrow</mat-icon>
        </button>
        {{ playlist.name }}     
      </li>
    </ul>
  </c-col>
</c-row>
</c-container>
</div>